@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/ArbFONTS-4_AF.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/ArbFONTS-bein-ar-black.ttf') format('truetype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Bein', sans-serif;
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}