@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/ArbFONTS-4_AF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/ArbFONTS-bein-ar-black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Bein', sans-serif;
  font-weight: 400;
}

.bold-text {
  font-family: 'Bein', sans-serif;
  font-weight: 700;
}